* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: black;
  color: white;
  background: linear-gradient(
    41deg,
    rgba(13, 21, 37, 1) 0%,
    rgba(37, 45, 81, 1) 62%,
    rgba(17, 22, 44, 1) 100%
  );
}

main {
  height: 90vh;
  width: 40%;
  width: 500px;
  margin: 1rem auto;
  background-color: gray;
  padding: 1rem;
  background: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0)
  );
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 200% 200%;
  border-radius: 30px;
  overflow: scroll;
  position: relative;
}

main::-webkit-scrollbar {
  display: none;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  width: 20rem;
}

.search input {
  border-radius: 60px;
  padding: 0.7rem 0.8rem;
  width: 100%;
  border: 1px solid white;
  background-color: transparent;
  font-size: 1rem;
  color: white;
  position: relative;
}

.search button {
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  top: 6.9px;
  right: 0.7rem;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 1s;
}

button:active {
  transform: scale(0.9);
}

.title {
  margin-bottom: 2rem;
}

.error {
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 550px) {
  main {
    height: 100vh;
    width: 100%;
  }

  .search {
    width: 100%;
  }
}
